.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 50%;
  height: auto;
}

button {
  background-color: black;
  border: none;
  outline: none;
  color: white;
  width: 200px;
  height: 40px;
  font-size: 1em;
  border-radius: 20px;
  transition: all .2s ease-in-out;
  cursor: pointer;
  padding: 5px;
}

button:hover {
  transform: scale(1.05, 1.05)
}

button:active {
  transform: scale(0.95)
}
